doctype
-
	var converters = [
		'Text (UTF-8)',
		'Hex',
		'Binary',
		'Base64',
		'ROT13',
		'MD5',
		'SHA-1',
		'UTF-16',
		'Unicode',
		'punycode',
		'URL Escape',
	];
	
	var js = function (file) {
		if (debug) {
			return file + '.js';
		} else {
			return file + '.min.js';
		}
	}
html
	head
		title Sugoi Converter
		script(src = js('index'))
		link(rel = 'stylesheet', href = 'index.css')
	body
		h1 Sugoi Converter
		.converters.pure-g
			each converter in converters
				- var slug = converter.replace(/\(.+?\)/g, '').replace(/\W/g, '').toLowerCase();
				.converter.pure-u-1.pure-u-sm-1-3.pure-u-md-1-4.pure-u-lg-1-5.pure-u-xl-1-6(class=slug)
					h2.label= converter
					textarea.textarea(data-converter=slug)
					p.error
