@import (inline) "node_modules/purecss/build/pure.css";
@import (inline) "node_modules/purecss/build/grids-responsive.css";
@import "node_modules/less-prefixer/prefixer.less";

html, body {
	height: 100%;
	width: 100%;

	background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/navy_blue.png);
}

* {
	box-sizing: border-box;
}

.fork-me {
	display: block;
	width: 149px;
	height: 149px;

	position: absolute;
	top: 0;
	right: 0;

	background: url(http://aral.github.io/fork-me-on-github-retina-ribbons/right-graphite.png);
}

@title-height: 60px;

h1 {
	margin: 0;
	padding-top: 12px;

	text-align: center;
	color: white;
	line-height: 0.7em;

	font-family: 'Squada One', cursive;
	font-weight: normal;
	font-size: 36pt;

	& > * {
		white-space: nowrap;
	}

	small {
		font-size: 50%;
		margin: 0 20px;

		a {
			color: sandybrown;
			text-decoration: none;
			white-space: nowrap;
		}
	}
}

.converters {
}

.converter {
	@label-height: 48px;

	height: 160px;
	padding: 0 6px 0;

	h2 {
		margin: 0;
		height: @label-height;

		color: white;
		line-height: @label-height;
		font-family: 'Squada One', cursive;
		font-weight: normal;
		font-size: 24pt;
	}

	textarea {
		width: 100%;
		height: calc(~'100% - @{label-height}');

		font-family: 'Ubuntu Mono', monospace;
	}
}
