doctype
-
	var converters = [
		'Plain',
		'Base64',
		'ROT13',
		'Binary',
		'UTF-8',
		'UTF-16 BE',
		'punycode',
	];
html
	head
		title Sugoi Converter
		script(src='index.js')
	body
		h1 Sugoi Converter
		.converters
			each converter in converters
				- var slug = converter.replace(/\W/g, '').toLowerCase();
				.converter(class=slug)
					h2.label= converter
					textarea.textarea
