@import (inline) "node_modules/purecss/build/pure.css";
@import (inline) "node_modules/purecss/build/grids-responsive.css";
@import "node_modules/less-prefixer/prefixer.less";

html, body {
	height: 100%;
	width: 100%;

	background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/navy_blue.png);
}

* {
	box-sizing: border-box;
}

@title-height: 60px;

h1 {
	height: @title-height;
	margin: 0;

	text-align: center;
	line-height: @title-height;
	color: white;
	font-family: 'Squada One', cursive;
	font-weight: normal;
}

.converters {
}

.converter {
	@label-height: 48px;

	height: 160px;
	padding: 0 6px 0;

	h2 {
		margin: 0;
		height: @label-height;

		color: white;
		line-height: @label-height;
		font-family: 'Squada One', cursive;
		font-weight: normal;
	}

	textarea {
		width: 100%;
		height: calc(~'100% - @{label-height}');

		font-family: 'Ubuntu Mono', monospace;
	}
}
