doctype
-
	var converters = [
		'Plain (UTF-8)',
		'Hex',
		'Binary',
		'Base64',
		'ROT13',
		'UTF-16',
		'Unicode',
		'punycode',
	];
html
	head
		title Sugoi Converter
		script(src='index.js')
	body
		h1 Sugoi Converter
		.converters
			each converter in converters
				- var slug = converter.replace(/\(.+?\)/g, '').replace(/\W/g, '').toLowerCase();
				.converter(class=slug)
					h2.label= converter
					textarea.textarea(data-converter=slug)
					p.error
