@import (inline) "node_modules/purecss/build/pure.css";
@import "node_modules/less-prefixer/prefixer.less";

html, body {
	height: 100%;
	width: 100%;

	overflow: hidden;
}

@title-height: 120px;

h1 {
	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	height: @title-height;
}

.converters {
	position: absolute;

	top: @title-height;
	left: 0;
	right: 0;
	bottom: 0;
}
